FIREBASE_API_KEY=AIzaSyDAWX2nCEENGGhj35Q5BCGwFI91Uuf4FyM
FIREBASE_AUTH_DOMAIN=student-routine-1234.firebaseapp.com
FIREBASE_PROJECT_ID=student-routine-1234
FIREBASE_STORAGE_BUCKET=student-routine-1234.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=1095969427427
FIREBASE_APP_ID=1:1095969427427:web:cbd648839aad4aab46dad6
